aiohttp==3.8.3
fastapi==0.115.8
gunicorn==23.0.0
matplotlib==3.10.0
numpy==1.26.4
pandas==2.2.3
python-dotenv==1.0.1
pydantic==2.10.6
solana==0.34.3
streamlit==1.42.1
uvicorn==0.34.0
requests==2.32.3
plotly==6.0.0
anchorpy==0.20.1
driftpy>=0.8.29