@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

body * {
	font-family: "Inter", sans-serif !important;
	line-height: 1.5;
}

header.stAppHeader {
	background: linear-gradient(160deg,#0ab8df 10%,#d867ea 58%,#00295f 90%)
}
section.stMain .block-container {
	z-index: 1;
}

[data-testid="stDecoration"] {
	background: #f300f4;
}

[data-testid="stNumberInputContainer"] {
	border: 1px solid;
	border-color: #ebebeb;
	transition: opacity 0.3s ease, border-color 0.3s ease;
}
[data-testid="stNumberInputContainer"]:focus-within {
	border-color: #d7d46d;
}